<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RESTSampleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <RESTSampleApplication.Properties.Settings>
            <setting name="RESTSampleApplication_RESTWebService_DefaultEndpoint"
                serializeAs="String">
                <value>http://localhost/AcumaticaERP/entity/Default/6.00.001</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Company</value>
            </setting>
            <setting name="Branch" serializeAs="String">
                <value>HQ</value>
            </setting>
        </RESTSampleApplication.Properties.Settings>
    </applicationSettings>
</configuration>